/* main */

.home>* {
  @apply px-8 lg:px-20 xl:px-32 2xl:px-44
}

/* main first */

.homeFirst {
  @apply relative text-white px-0
}
.homeFirst>img {
  @apply h-[32rem] object-cover
    md:h-auto
}

.homeFirst__content {
  @apply absolute top-0 w-full h-full flex flex-col
}

.homeFirst__search {
  @apply w-1/2 self-center mt-8 flex items-center
    rounded-full bg-white bg-opacity-20 border-white border-[1px]
}
.homeFirst__search input {
  @apply px-9 w-full
}
.homeFirst__search svg {
  @apply my-1 mr-7
}

.homeFirst__add {
  @apply absolute bottom-10 left-16 hidden sm:block
    md:bottom-20 md:left-24
    lg:bottom-36 lg:left-44
}
.homeFirst__text {
  @apply flex flex-col text-center mb-7 ml-32
}
.homeFirst__bottom {
  @apply relative w-min
}
.homeFirst__bottom h4 {
  @apply w-max py-1 px-4 rounded-2xl text-center bg-yellow-custom text-black
}
.homeFirst__bottom svg {
  @apply absolute top-0 right-0 rotate-[70deg] translate-x-[100%] translate-y-[-60%]
}

.homeFirst__smScreen {
  @apply absolute bottom-10 left-6 px-3 py-1 rounded-2xl text-center bg-yellow-custom text-black sm:hidden
}

/* main last */

.homeLast {
  @apply flex flex-col mt-16 mb-40 xl:flex-row
}

.homeLast__left {
  @apply flex flex-col gap-10 pt-5
    xl:w-min 2xl:flex-1
}
.homeLast__leftBottom {
  @apply ml-2 flex gap-2 items-center text-orange-custom
}

.homeLast__line {
  @apply relative pt-9 pb-14 xl:pr-9 xl:pl-16
}
.homeLast__line span {
  @apply absolute right-0 left-0 h-px bg-black
    xl:top-[10%] xl:bottom-[10%] xl:right-auto xl:left-auto xl:w-px xl:h-auto
}

.homeLast__right {
  @apply flex-1 flex flex-col gap-4 self-center
}